/*********************************************************
## border box
*********************************************************/
html {
  box-sizing: border-box;
  overflow-y: scroll;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/*********************************************************
## Typography
*********************************************************/
html {
font-size: 100%;
}

body {
  font-family: $font-family-sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    line-height: 1.3;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    text-rendering: optimizeLegibility;
}

h2 {
    font-size: 2.125rem;
    font-weight: 700;
}

// p {
//     margin: 0;
// }

a {
  color: $color-white;
  &:hover,
  &:focus {
    color: $color-yellow;
  } 
}

.lead {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.4;

    @include mq(md) {
        font-size: 2rem;
    }
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}