img {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

.video-responsive {
  margin-top: 20px;
  margin-bottom: 10px;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: calc(100% - 1rem);
  margin-left: auto;
  margin-right: auto;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}