<footer class="footer" role="contentinfo">
    <div class="footer__inner container">
        <span>&copy; Dan Addison {{ build.timestamp | dateToFormat('yyyy') }}</span>
        <ul class="social-icons">
          <li><a href="https://github.com/DanAddison">{% icon "github" %}</a></li>
          <li><a href="https://www.instagram.com/dandevelops/">{% icon "instagram" %}</a></li>
        </ul>
    </div>
</footer>