.header {
    padding: $spacing 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    a {
      text-decoration: none;
    }
}

.site-branding {
  font-size: 2em;
  a {
    color: $color-white;
  }
}