.nav {
  position: relative;
  z-index: 100;

  &__toggle {
      @include button-reset;
  }

  &__link {
      display: block;
      padding: 0.5em 1em;
      color: $color-white;
  }

  // mobile size
  @include mq-down(lg) {

    &__menu {
      position: fixed;
      background: $color-black;
      height: 100vh;
      width: 100%;
      top: 0;
      left: 0;
      flex-direction: column;
      clip-path: circle(50px at 90% -10%);
      transition: all .5s ease-out;
      pointer-events: none;
      padding-top: 6em;
      text-align: center;

      // mobile menu open
      .is-open & {
        z-index: -1;
        clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
      }
    }

    // fade-in animation for menu items
    &__item {
      opacity: 0;

      a {
        font-size: 1.5rem;
      }

      // fade in one at a time
      &:nth-child(1) {
        transition: all 0.5s ease 0.2s;
      }

      &:nth-child(2) {
        transition: all 0.5s ease 0.4s;
      }

      &:nth-child(3) {
        transition: all 0.5s ease 0.6s;
      }

      // mobile menu open
      .is-open & {
        opacity: 1;
      }
    }
  }

  // desktop size
  @include mq(lg) {
      &__toggle {
          display: none;
      }
      &__menu {
          display: flex;
          position: static;
          background-color: transparent;
      }
  }
}
