.posts-list {
    margin-top: $spacing;

    &__item {	
        margin-bottom: $spacing;

        h2 {
            margin-bottom: 0;

            a {
                text-decoration: none;
            }
        }

        time {
            color: rgba($color-white, .6);
        }
    }


    &__excerpt {
        margin-bottom: 0;
    }
    
    &__readmore {
        color: rgba($color-white, .6);
    }
}