---
layout: base
permalink: /about/
eleventyNavigation:
  key: About
---

<div class="container">
    <h1>About</h1>

    <p>Lacus vestibulum sed arcu non odio euismod lacinia at.  Non nisi est sit amet facilisis magna. Vitae sapien pellentesque habitant morbi tristique. Magna fringilla urna porttitor rhoncus dolor. Varius morbi enim nunc faucibus a pellentesque. Cras pulvinar mattis nunc sed blandit libero. Quam vulputate dignissim suspendisse in est ante. Placerat orci nulla pellentesque dignissim enim sit. Et malesuada fames ac turpis egestas integer. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Mattis pellentesque id nibh tortor. Iaculis urna id volutpat lacus laoreet non curabitur. Imperdiet dui accumsan sit amet. </p>
    
    <iframe style="border: 0; width: 100%; height: 120px;" src="https://bandcamp.com/EmbeddedPlayer/album=4015211450/size=large/bgcol=333333/linkcol=e99708/tracklist=false/artwork=small/transparent=true/" seamless=""><a href="http://danieladdison.bandcamp.com/album/vodka-tapes">Vodka Tapes by Daniel Addison Music</a></iframe>

    <p>Lacus vestibulum sed arcu non odio euismod lacinia at.  Non nisi est sit amet facilisis magna. Vitae sapien pellentesque habitant morbi tristique. Magna fringilla urna porttitor rhoncus dolor. Varius morbi enim nunc faucibus a pellentesque. Cras pulvinar mattis nunc sed blandit libero. Quam vulputate dignissim suspendisse in est ante. Placerat orci nulla pellentesque dignissim enim sit. Et malesuada fames ac turpis egestas integer. Egestas pretium aenean pharetra magna ac placerat vestibulum lectus. Mattis pellentesque id nibh tortor. Iaculis urna id volutpat lacus laoreet non curabitur. Imperdiet dui accumsan sit amet. </p>
    
    {% include "posts-list.njk" %}

</div>