---
layout: base
permalink: /blog/
eleventyNavigation:
  key: Blog
---

<div class="container">
    <h1>Blog</h1>

  <ul>
  {%- for post in collections.posts -%}
    <li>{{ post.data.title }}</li>
  {%- endfor -%}
  </ul>
</div>