// ---------------------------------
// MASTER STYLESHEET INDEX
// ---------------------------------

//--------------------
// UTILITIES
//--------------------

@import 'utils/functions';
@import 'utils/variables';
@import 'utils/mixins';

//--------------------
// BASE MODULES
// partials with global scope
//--------------------

@import 'base/normalize';
@import 'base/global';
@import 'base/layout';
@import 'base/focus';
@import 'base/utilities';
@import 'base/screenreader';
@import 'base/media';

//--------------------
// COMPONENTS
// partials with local scope to a component
//--------------------

@import 'components/header';
@import 'components/nav';
@import 'components/footer';
@import 'components/burger';
@import 'components/social-icons';
@import 'components/posts-list';
